flow.txt
[{"id":"70fed430.5f3004","type":"tab","label":"Tilt","disabled":false,"info":""},{"id":"87f08746.0443e8","type":"ibmiot in","z":"70fed430.5f3004","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":155.5,"y":150.25,"wires":[["ca116d6f.7963f8","b3d70c1.466977","ee5278f9.2693e","4e7d5e6.03c50a","61fdcbd7.853d84"]]},{"id":"ca116d6f.7963f8","type":"debug","z":"70fed430.5f3004","name":"","active":false,"console":"false","complete":"false","x":393.5,"y":232.5,"wires":[]},{"id":"b3d70c1.466977","type":"function","z":"70fed430.5f3004","name":"dir","func":"msg.payload = msg.payload.d.dir;\nreturn msg;","outputs":1,"noerr":0,"x":349.5,"y":78.75,"wires":[["debd15c4.218a98"]]},{"id":"debd15c4.218a98","type":"ui_gauge","z":"70fed430.5f3004","name":"","group":"cba93ac0.7869d","order":0,"width":0,"height":0,"gtype":"compass","title":"DIR","label":"degree","format":"{{value}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":526.5,"y":67,"wires":[]},{"id":"c28b2414.5d7cc","type":"ui_chart","z":"70fed430.5f3004","name":"","group":"cba93ac0.7869d","order":0,"width":0,"height":0,"label":"FB","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-180","ymax":"180","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":507.5,"y":145,"wires":[[],[]]},{"id":"ee5278f9.2693e","type":"function","z":"70fed430.5f3004","name":"fb","func":"msg.payload = msg.payload.d.fb;\nreturn msg;","outputs":1,"noerr":0,"x":347.5,"y":129.25,"wires":[["c28b2414.5d7cc"]]},{"id":"471eb58e.de4184","type":"ui_chart","z":"70fed430.5f3004","name":"","group":"cba93ac0.7869d","order":0,"width":0,"height":0,"label":"LR","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-180","ymax":"180","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":526.5,"y":195,"wires":[[],[]]},{"id":"4e7d5e6.03c50a","type":"function","z":"70fed430.5f3004","name":"lr","func":"msg.payload = msg.payload.d.lr;\nreturn msg;","outputs":1,"noerr":0,"x":364.5,"y":177.25,"wires":[["471eb58e.de4184"]]},{"id":"414a971c.fbf99","type":"http in","z":"70fed430.5f3004","name":"","url":"/box","method":"get","upload":false,"swaggerDoc":"","x":138.5,"y":326.25,"wires":[["a12723e9.0dd688"]]},{"id":"13322dc.cf733d2","type":"http response","z":"70fed430.5f3004","name":"","statusCode":"","headers":{},"x":463.5,"y":406.5,"wires":[]},{"id":"a12723e9.0dd688","type":"template","z":"70fed430.5f3004","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"utf-8\"/>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/three.js/89/three.min.js\"></script>\n<script>\nvar socket;\nvar wsUrl = 'wss://' + location.hostname + '/ws/tilt';\n\n// ページの読み込みを待つ\nwindow.addEventListener('load', init);\n\nfunction init() {\n  var geometry;\n  var material;\n  var box;\n\n  socket = new WebSocket( wsUrl );\n  socket.onmessage = function( e ){\n    var data = JSON.parse( e.data );\n    //console.log( data );\n    box.rotation.x = -1 * data.d.lr;\n    box.rotation.y = -1 * data.d.fb;\n    box.rotation.z = -1 * data.d.dir;\n  }\n\n  // サイズを指定\n  const width = 960;\n  const height = 540;\n\n  // レンダラーを作成\n  const renderer = new THREE.WebGLRenderer({\n    canvas: document.querySelector('#myCanvas')\n  });\n  renderer.setPixelRatio(window.devicePixelRatio);\n  renderer.setSize(width, height);\n\n  // シーンを作成\n  const scene = new THREE.Scene();\n\n  // カメラを作成\n  const camera = new THREE.PerspectiveCamera(45, width / height);\n  camera.position.set(0, 0, +1000);\n\n  // 箱を作成\n  geometry = new THREE.BoxGeometry(400, 400, 400);\n  material = new THREE.MeshNormalMaterial();\n  box = new THREE.Mesh(geometry, material);\n  scene.add(box);\n\n  tick();\n\n  // 毎フレーム時に実行されるループイベントです\n  function tick() {\n    //box.rotation.y += 0.01;\n    renderer.render(scene, camera); // レンダリング\n\n    requestAnimationFrame(tick);\n  }\n}\n</script>\n</head>\n<body>\n<canvas id=\"myCanvas\"></canvas>\n</body>\n</html>\n","output":"str","x":285.5,"y":360.75,"wires":[["13322dc.cf733d2"]]},{"id":"61fdcbd7.853d84","type":"websocket out","z":"70fed430.5f3004","name":"","server":"5eb26b59.51e10c","client":"","x":330.5,"y":293.5,"wires":[]},{"id":"cba93ac0.7869d","type":"ui_group","z":"","name":"デフォルト","tab":"a51d65d1.0e1fc8","disp":true,"width":"6"},{"id":"5eb26b59.51e10c","type":"websocket-listener","z":"","path":"/ws/tilt","wholemsg":"false"},{"id":"a51d65d1.0e1fc8","type":"ui_tab","z":"","name":"ホーム","icon":"dashboard"}]
