flow.txt
[{"id":"87f08746.0443e8","type":"ibmiot in","z":"70fed430.5f3004","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":155.5,"y":150.25,"wires":[["ca116d6f.7963f8","b3d70c1.466977","ee5278f9.2693e","4e7d5e6.03c50a"]]},{"id":"ca116d6f.7963f8","type":"debug","z":"70fed430.5f3004","name":"","active":true,"console":"false","complete":"false","x":393.5,"y":232.5,"wires":[]},{"id":"b3d70c1.466977","type":"function","z":"70fed430.5f3004","name":"dir","func":"msg.payload = msg.payload.d.dir;\nreturn msg;","outputs":1,"noerr":0,"x":349.5,"y":78.75,"wires":[["debd15c4.218a98"]]},{"id":"debd15c4.218a98","type":"ui_gauge","z":"70fed430.5f3004","name":"","group":"cba93ac0.7869d","order":0,"width":0,"height":0,"gtype":"compass","title":"DIR","label":"degree","format":"{{value}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":526.5,"y":67,"wires":[]},{"id":"c28b2414.5d7cc","type":"ui_chart","z":"70fed430.5f3004","name":"","group":"cba93ac0.7869d","order":0,"width":0,"height":0,"label":"FB","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-180","ymax":"180","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":507.5,"y":145,"wires":[[],[]]},{"id":"ee5278f9.2693e","type":"function","z":"70fed430.5f3004","name":"fb","func":"msg.payload = msg.payload.d.fb;\nreturn msg;","outputs":1,"noerr":0,"x":347.5,"y":129.25,"wires":[["c28b2414.5d7cc"]]},{"id":"471eb58e.de4184","type":"ui_chart","z":"70fed430.5f3004","name":"","group":"cba93ac0.7869d","order":0,"width":0,"height":0,"label":"LR","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-180","ymax":"180","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":526.5,"y":195,"wires":[[],[]]},{"id":"4e7d5e6.03c50a","type":"function","z":"70fed430.5f3004","name":"lr","func":"msg.payload = msg.payload.d.lr;\nreturn msg;","outputs":1,"noerr":0,"x":364.5,"y":177.25,"wires":[["471eb58e.de4184"]]},{"id":"cba93ac0.7869d","type":"ui_group","z":"","name":"デフォルト","tab":"a51d65d1.0e1fc8","disp":true,"width":"6"},{"id":"a51d65d1.0e1fc8","type":"ui_tab","z":"","name":"ホーム","icon":"dashboard"}]
